<div class="jumbotron landing-page-background full">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4 my-panel">
        <div class="row">
        <h1>Friends&Food</h1>
          <p>
            Cover is a one-page template for building simple and beautiful home pages.
            Download, edit the text, and add your own fullscreen background color and photo
            to make it your own.
          </p>
            <div class="row">
            <button class="btn btn-primary btn-lg">Login</button>
            </div>
            <div class="row">
            <button class="btn btn-primary btn-lg">Signup</button>
            </div>
        </div>
        </div>
    <div class="col-md-4"></div>
  </div>
</div>