/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "materialize";

#profile-img {
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  box-shadow: none;
}

body {
  background-color: #FDF7FF;
}

.calendar-heading {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.simple-calendar {

  .day {
    border: 1px solid #ccc;
    line-height: 22px;
    text-align: left;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #d3d3d3;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

#stretch {
  width: none;
  height: none;
}

.showcase-block {
  background-color: #00C7EF;
}

.showcase-block > h4 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.nav-wrapper {
  background-color: #00E2C8;
}

.brand-logo {
  font-family: 'Lobster', cursive;
}
