#profile-img {
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  box-shadow: none;
}

body {
  background-color: #FDF7FF;
}

.calendar-heading {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
  background-color: white;
}

// .calendar-heading > a  {
//   padding-left: 100px;
// }

.simple-calendar {

  .day {
    border: 1px solid #ccc;
    line-height: 22px;
    text-align: left;
  }

  .wday-0 { background-color: white; }
  .wday-1 { background-color: white; }
  .wday-2 { background-color: white; }
  .wday-3 { background-color: white; }
  .wday-4 { background-color: white; }
  .wday-5 { background-color: white; }
  .wday-6 { background-color: white; }

  .today {
    background-color: #DAA520;
  }
  .past {  }
  .future { }

  .start-date {}

  .prev-month { background-color: #D3D3D3; }
  .next-month { background-color: #D3D3D3; }
  .current-month {}

  .has-events { font-weight: bold; }
}

tr {
  background-color: white;
}
#stretch {
  width: none;
  height: none;
}

.showcase-block {
  background-color: #00C7EF;
}

.showcase-block > h4 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.nav-wrapper {
  background-color: #00E2C8;
}

.brand-logo {
  font-family: 'Lobster', cursive;
}

//////////////////////////////
.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

//////////////

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 2em;
}
#svg #bar {
  stroke: #FF9F1E;
}
.cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
.cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
  text-align: center;
}

.footer {
  width: 100%;
}

nav {
  height: 104px !important;
}

.nav-wrapper {
  padding: 20px;
}

.brand-logo {
  font-size: 5em !important;
}

body {
  // background: url(http://cdn.wedding-spot.com/images/venues/6523/Artifact-Events-at-Architectural-Artifacts-Wedding-Chicago-IL-5.1446506065.png) no-repeat center center fixed;
  background: linear-gradient(to bottom, rgba(30,144,255,0.5) 0%,rgba(30,144,255,0.5) 100%), url(http://a.dryicons.com/files/graphics_previews/DD-Abstract-Background-11232-Preview.jpg) no-repeat center center fixed;
  background-size: cover;
}

.card {
  margin-bottom: 4.5rem !important;
}


.search-box {
  background-color: #ee6e73;
  padding: 45px 15px 15px 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.search-input {
  background-color: white !important;
  border-radius: 70px !important;
  text-indent: 15px;
  color: gray;
}

.chatroom-box {
  background-color: white;
  padding: 15px 15px 15px 15px;
}

.page-footer {
  background-color: #00E2C8 !important;
}

#myGraph {
  background-color: white;
}
